/BRIEF.md
/rev/
/.venv/
/ppt.md
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg
*.egg-info/
*.ipynb_checkpoints/        